{% extends "base.html" %}
{% block content %}
<h2>{{ t('availabilities') }}</h2>
<p><a class="btn" href="{{ url_for('availability_new') }}">{{ t('add_availability') }}</a></p>
<table>
  <tr><th>{{ t('date_time') }}</th><th>{{ t('duration') }}</th><th>{{ t('location') }}</th><th>{{ t('status') }}</th></tr>
  {% for s in slots %}
  <tr>
    <td>{{ s.start.strftime('%d.%m.%Y %H:%M') }}</td>
    <td>{{ s.duration_minutes }}</td>
    <td>{{ s.location }}</td>
    <td>{{ s.status }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
